div.ardp-date-picker {
  font-size:16px;
  font-family:Arial;
  box-sizing:border-box;
}
div.ardp-date-picker * {
    box-sizing:border-box;
}
div.ardp-date-picker div.calendar {
  position: absolute;
  z-index: 10;
  background: white;
  width: 260px;
  padding: 5px;
  color: #244152;
  border-radius: 3px;
  height: 203px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
div.ardp-date-picker div.calendar.calendar-show {
  visibility: visible;
  opacity: 1;
  transition: opacity 100ms linear;
}
div.ardp-date-picker div.calendar.calendar-hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 100ms, opacity 100ms linear;
}
div.ardp-date-picker div.calendar div.month-header {
  float: left;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
}
div.ardp-date-picker div.calendar div.month-header > i {
  font-weight: bold;
  padding: 5px 8px;
  border-radius: 3px;
  cursor: pointer;
  font-style:normal;
  font-size:0.7em;
}
div.ardp-date-picker div.calendar div.month-header > i:hover {
  background-color: #026aa7;
  color: white;
}
div.ardp-date-picker div.calendar div.week-header {
  float: left;
  width: 100%;
  margin-top: 8px;
  display: table;
  padding-bottom: 3px;
  border-bottom: solid 1px #CCC;
  margin-bottom: 3px;
}
div.ardp-date-picker div.calendar div.week-header > span {
  float: left;
  width: 14.285714285714286%;
  font-size: 0.6em;
  text-transform: uppercase;
  color: #026aa7;
  font-weight: bold;
  text-align: center;
}
div.ardp-date-picker div.calendar div.weeks {
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 140px;
}
div.ardp-date-picker div.calendar div.weeks > div {
  position: absolute;
  width: 250px;
}
div.ardp-date-picker div.calendar div.weeks > div.current {
  left: 0;
}
div.ardp-date-picker div.calendar div.weeks > div.other {
  left: 250px;
}
div.ardp-date-picker div.calendar div.weeks > div.other.right {
  left: -250px;
}
div.ardp-date-picker div.calendar div.weeks > div.sliding {
  transition: transform 250ms ease;
  -webkit-transition: -webkit-transform 250ms ease;
}
div.ardp-date-picker div.calendar div.weeks > div.sliding.left {
  transform: translate3d(-250px, 0, 0);
  -webkit-transform: translate3d(-250px, 0, 0);
}
div.ardp-date-picker div.calendar div.weeks > div.sliding.right {
  transform: translate3d(250px, 0, 0);
  -webkit-transform: translate3d(250px, 0, 0);
}
div.ardp-date-picker div.calendar div.weeks div.week {
  float: left;
  width: 100%;
}
div.ardp-date-picker div.calendar div.weeks div.week div.day {
  float: left;
  width: 14.285714285714286%;
  font-size: 0.8em;
  padding: 4px 0;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
}
div.ardp-date-picker div.calendar div.weeks div.week div.day:hover {
  background: #EAEAEA;
}
div.ardp-date-picker div.calendar div.weeks div.week div.day.other-month {
  color: #AAA;
}
div.ardp-date-picker div.calendar div.weeks div.week div.day.disabled {
  color: #E0E0E0;
  cursor: default;
}
div.ardp-date-picker div.calendar div.weeks div.week div.day.disabled:hover {
  background: transparent !important;
}
div.ardp-date-picker div.calendar div.weeks div.week div.day.today {
  background: #68b53e;
  color: white;
}
div.ardp-date-picker div.calendar div.weeks div.week div.day.selected {
  background: #026aa7;
  color: white;
}
